.env
.git
.github
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
tests
artifacts
cache
npm-debug.log
yarn-error.log
Dockerfile
DEPLOY_RENDER.md
